
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Quicksand', sans-serif;
    color: #666363;
}

.topo {
    background: #CBF9BC;
    padding: 15px 0;
    border-bottom: 1px solid #b2dba8;
}

.conteudo-topo {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 45px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu li a {
    text-decoration: none;
    color: #666363;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.botao-entrar {
    background: #258E00;
    color: white;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease
}

.botao-entrar:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.banner {
    background: #EBFDE5;
    padding: 50px 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.conteudo-banner {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.texto-banner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
    line-height: 1.3;
    color: #666363;
}

.botao-saiba {
    margin-top: 20px;
    padding: 10px 30px;
    background: #258E00;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.botao-saiba:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.img-banner img {
    width: 800px;
    height: 350px;
    max-width: 100%;
}

.avaliacoes {
    padding: 60px 0;
    text-align: center;
}

.titulo-centro {
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #666363;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border: 2px solid #b2dba8;
    border-radius: 15px;
    width: 410px;
    height: 510px;
    padding: 25px;
    transition: .3s;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #258E00;
}

.icone-card {
    height: 195px;
    width: 190px;
    margin-bottom: 15px;
}

.card h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #258E00;
    margin-bottom: 10px;
}

.card p {
    font-family: 'Quicksand', sans-serif;
    color: #666363;
}

.botao-card {
    display: block;
    margin-top: 20px;
    background: #258E00;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    width: 195px;
    height: 45px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease
}

.botao-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.rodape {
    background: #CBF9BC;
    padding: 40px 0;
    margin-top: 40px;
}

.conteudo-rodape {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coluna h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: #666363;
}

.linha {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.linha span {
    color: #666363;
    font-weight: bold; 
}

.icone-rodape{
    height: 30px; 
    width: 25px; 
}

.social {
    display: flex;
    gap: 48px;
}

.social img {
    width: 100px; 
    height: 70px;
}

@media (max-width: 768px) {

    .conteudo-topo {
        flex-direction: column;
        gap: 15px;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .conteudo-banner {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    .texto-banner h1 {
        font-size: 1.9rem;
    }

    .card {
        width: 90%;
    }
    .conteudo-rodape {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .social {
        justify-content: center;
    }
}